
.app-list-item.like .fa-heart {
    opacity: 1;
    transform: translateX(0px);
}

.app-list-item.important .app-list-item-label {
  color: #FFD700;
}

.app-list-item.important .btn-star {
    color: #aeaeae;
}
